
.login
  width: 100vw
  height: calc(100vh - 200px)
  display: flex
  align-items: center
  justify-content: center
  & .container
    & .mat-card
      background-color: white
      min-width: 250px
      & .mat-card-title
        padding-bottom: 16px
        line-height: 1.5
        font-size: 32px
      & .mat-form-field
        width: 100%
      & .actions
        display: flex
        justify-content: space-between
        & a
          margin: auto 0
        & a,
        a:visited,
        a:hover
          color: #1976d2
          text-decoration: none

        & a:hover
          color: #125699
